@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kodchasan Font */

body {
  background-color: rgb(249, 250, 251);
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 300;
  font-style: normal;
  src: url("../public/fonts/KodchasanFont/Kodchasan-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/KodchasanFont/Kodchasan-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/KodchasanFont/Kodchasan-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/KodchasanFont/Kodchasan-Bold.ttf")
    format("truetype");
}

/* Kodchasan Font Italic Styles */

@font-face {
  font-family: "Kodchasan";
  font-weight: 300;
  font-style: italic;
  src: url("../public/fonts/KodchasanFont/Kodchasan-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 400;
  font-style: italic;
  src: url("../public/fonts/KodchasanFont/Kodchasan-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 500;
  font-style: italic;
  src: url("../public/fonts/KodchasanFont/Kodchasan-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 700;
  font-style: italic;
  src: url("../public/fonts/KodchasanFont/Kodchasan-BoldItalic.ttf")
    format("truetype");
}
